h5py
matplotlib
numpy
pandas
PyOpenGL
PyOpenGL-accelerate
PyQt5
pyqtgraph
scipy
scikit-image
scikit-learn
trimesh
coverage
pydicom
pyinstaller
pytest
pytest-cov
pytest-mock
opencv-python
pydicom
rtree
